<label for="{{ field.name }}Input">{{ field.name }}</label>
{% if result is defined %}
    <label>{{ result.value[field.slug] }}</label>
{% else %}
    <div class="col-sm-12">
        <input class="form-control" type="date" name="{{ field.slug }}">
    </div>
{% endif %}

