{{ include('base.twig') }}

<body>
{% block body %}
    <div class="mainDiv">
        <form action="/result/{{ game }}" method="POST">
            {% for field in fields %}
                <div class="form-group">
                    {{ include('field/' ~ field.type ~ '.twig') }}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-dark">Submit</button>
        </form>
    </div>
{% endblock %}
</body>
